<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram hashtags</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"> -->
    <link href="/css/loader.css" rel="stylesheet"  type="text/css" >
    <link href="/css/style.css" rel="stylesheet"  type="text/css" >

</head>

<body>
    <form action="/" method="post" id="form">
  <input name="hashtag" type="text" id="hashtag" placeholder=" search #hashtag:"/> <br />
        <input type="button" id="submit" value="Submit"/>  <br/>
        
      </form>
    <div class =loader>
        <div class="wrapper">
            LOADING...
            <div  class="lds-heart"><div></div></div>    
        </div>
    </div>
<div id="results"></div>
<div id="everythingInDb">
<% hashtagData.forEach(function(instagramhashtags){%>
    <%= instagramhashtags.hashtag %></br>
    <%= instagramhashtags.followers %></br>
    <%= instagramhashtags.relatedHashtags%></br>

    <%})%>
</br>
</div>

<!-- ajax -->
<script src="js/ajaxjquery.js">  </script>
<script src="js/ajax.js"></script>
</body>

</html>