<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram hashtags</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"> -->
    <link href="/css/loader.css" rel="stylesheet"  type="text/css" >
    <link href="/css/style.css" rel="stylesheet"  type="text/css" >

</head>

<body>
    <form action="/" method="post" id="form">
  <input name="hashtag" type="text" id="hashtag" placeholder=" search #hashtag:"/> <br />
        <input type="button" id="submit" value="Submit"/>  <br/>
        
      </form>
      <span id="results"></span>
    <span id="results">

    </span>
    <div class="loader">
        <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <span>Loading</span>
        </div>
    
    
    </div>


<!-- ajax -->
<script src="js/ajaxjquery.js">  </script>
<script src="js/ajax.js"></script>
</body>

</html>