<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram hashtags</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"> -->
    <link href="/css/loader.css" rel="stylesheet"  type="text/css" >
    <link href="/css/style.css" rel="stylesheet"  type="text/css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>

    <script src="/js/ajax.js"></script>

</head>

<body>

    <div class="center-ejs"> 
        <div id="everythingInDb">
            <div class="wrapperEverything">
               <div class="innerEverything">
                    <div class="relWrapper">
                    <fieldset >
                        <legend>OOPS!</legend>
                      <div class="relatedHashtags" id="copyText">
                          Unfortunately, we are yet to get that hashtag. Check in with us soon. We are
                          constantly updating our database.
            
                      </div> 
                    </fieldset>
               
                </div>
    
            
            </div>
        </div>

            
            
        
    </div>
    <div  id="form" >
    <input name="hashtag" type="text" id="search_value" placeholder=" search for another #:"/> <br />
    <a  id="submit" onclick="goTo()">Submit</a>
    </div>

</div>


</body>

</html>
