form{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 0%;


    input{
        font-size: 30px;
    }
   
   #hashtag{
    height: 80px;
    width: 600px;

   }
    #submit{
        border-color: none;
        background-color: orange;
        padding: 10px;
        margin: 2px;
        width: 200px;
        border: none;
        height: 80px;
    }
}
#results{
    top: 30vh;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding-right: 10%;
    padding-left: 30%;

}